<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class=" bg-zinc-900 h-screen w-full text-white p-10  ">
    <div class="justify-end w-full flex">
      <a class="bg-red-500 px-3 py-1 rounded mb-2 inline-block " href="/logout">logout </a>
    </div>
    <h3 class="mb-3">Edit your post </h3>
    <form action="/update/<%= post._id%>" method="post">
      <textarea class=" outline-none border-2 p-2  resize-none block border-zinc-500 bg-transparent rounded w-1/3 "
        name="content" placeholder="whats on your mind ?"><%= post.content%></textarea>
      <input type="submit" class="bg-orange-600 px-3 py-1 rounded w-40 mt-2 block" value="Update post">
    </form>

  </div>
</body>

</html>